{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'assets/rockworthy_logo.png' %}">

        <title>Rock Worthy - {% block title%}{% endblock %}</title>
        <!-- Google Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'vendor/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" crossorigin="anonymous">
        <!-- custom CSS -->
        <link rel="stylesheet" href="{% static 'vendor/custom.css' %}">
    </head>
    <body>
    <a href="#" class="menu-pick"><div class="nav-button nav-button-closed"><img src="{% static 'assets/rockworthy_pick.png' %}"><span class="material-icons" style="color: #ffffff;">menu</span></a></div>            

        <nav id="navigation-side-bar" class="nav-closed">
            <ul class="list-unstyled menu-items" style="padding-top: 80px;">
                <hr class="fret" />
                <li><a class="main-menu-item menu-item-active" href="/">Home</a></li>
                <hr class="fret" />
                <li><a class="secondary-menu-item" href="/live-music/">Live Music</a></li>
                <hr class="fret" />
                <li><a class="secondary-menu-item" href="/art-exhibitions/">Art Exhibitions</a></li>
                <hr class="fret" />
                <li><a class="secondary-menu-item" href="/craft-markets/">Craft Markets</a></li>
                <hr class="fret" />
                <li><a class="secondary-menu-item disabled" href="/event-blog/">Event Blogs</a></li>
                <hr class="fret" />
                <li><a class="last-menu-item" href="/venues/">Venues</a> - <a class="last-menu-item disabled" href="/special-events/">Special Events</a></li>
                <hr class="fret" />
                <li><a class="last-menu-item " href="/about/">About</a> - <a class="last-menu-item" href="/contact/">Contact</a></li>
                <hr class="fret" />
                <sub>site credit: <a target="_blank" href="http://www.yourdev.co.za/">&copy; Yourdev Web Development</a></sub>
            </ul>
        </nav>
        <div class="container-fluid main-banner" id="top-page">
            <div class="row">
                <div class="col-2 hidden-lg-up"></div>
            
                <div class="col-8 main-logo" align="right" style="margin-top: 30px; margin-bottom: 30px;">
                <img class="img-fluid" src="{% static 'assets/rockworthy_main.png' %}">
                </div>
                
            </div>

        </div>
                {% block content %}{% endblock %}

    <!-- jQuery first, then tether.js, then Bootstrap JS -->
        <script src="{% static 'vendor/bower_components/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bower_components/masonry/dist/masonry.pkgd.min.js' %}"></script>
        <script src="{% static 'vendor/custom.js' %}"></script>        
        <script src="{% static 'vendor/bower_components/tether/dist/js/tether.min.js' %}"></script>        
        <script src="{% static 'vendor/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    </body>

</html>