{% extends 'base.html' %}
{% load static %}
{% load features %}
{% block content %}

<div class="container">
    <br />
    <div class="row">
        <div class="col-12">
            <h3 class="display-4 hidden-sm-down" style="margin-left: 25px;">Live Music - Upcoming Events</h3>
            <h1 class="hidden-md-up text-center">Live Music</h1>
        </div>
    </div>
    <br />
    <div class="row">
            {% for event in events|sort_pop %}
              {% if event.start_time >= date %}
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                  <div style="height: 100%;">
                      <img class="card-img-top img-fluid" src="{{event.cover.source}}" alt="">
                      <div class="card-block">
                        <h4 class="card-title">{{event.name}}</h4>
                        <p class="card-text"><b>Attending</b>&nbsp;<span class="badge badge-info">{{event.attending_count}}</span>
                          <b>interested</b>&nbsp;<span class="badge badge-warning">{{event.interested_count}}</span></p>
                      </div>
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item"><b>Place</b>&nbsp;{{event.place.name}}</li>                  
                          <li class="list-group-item"><p><b>Start</b>&nbsp;{{event.start_time | fix_date}}</p>
                            <p><b>End</b>&nbsp; {{event.end_time | fix_date}}</p>
                          </li>
                          <li class="list-group-item d-flex justify-content-center">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a type="button" href="/event/{{event.id}}/detail/" class="btn btn-secondary">view event</a>
                                <a type="button" href="https://www.facebook.com/events/{{event.id}}" class="btn btn-secondary">View on facebook</a>
                              </div>
                          </li>                  
                      </ul>
                  </div>
                  </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
</div>

{% endblock %}