{% extends 'base.html' %}
{% load static %}
{% load features %}

{% block content %}

<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-1 hidden-md-down"></div>
        <div class="col-12 col-md-10">
            <table class="table table-hover" style="background-color: #ffffff;">
                <thead style="color: #ffffff;">
                <tr style="background-color:#ffc107 !important;">
                    <th>#</th>
                    <th></th>
                    <th>Name</th>
                    <th>Category</th>
                </tr>
                </thead>
                <tbody>
                {% for host in hosts %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td><img src="{{host.picture.data.url}}"></td>
                    <td><a href="/venue/{{host.id}}/">{{host.name}}</a></td>
                    <td>{{host.category}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}