{% extends 'base.html' %}
{% load static %}
{% load features %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-1 hidden-md-down"></div>
        <div class="col-12 col-lg-10 text-center">
            <div class="card">
                <div class="card-block">
                    <h3 class="card-title">{{venue.name}}</h3>
                </div>
            </div>   
        </div>
    </div>

    <div class="row">
        <div class="col-1 hidden-md-down"></div>
        <div class="col-12 col-lg-10 text-center">
            <div class="cover-photo" style="background: url({{venue.cover.source}}) center;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-1 hidden-md-down"></div>
        <div class="col-12 col-lg-10">
            <hr />
            <h1>Events</h1>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-1 hidden-md-down"></div>
        <div class="col-12 col-lg-10">
            <div class="row">
                    {% for event in venue.events.data|sort_pop %}
                    {% if event.start_time >= date %}
                    <div class="col-12 col-md-6 col-xl-4">
                      <div class="card" style="margin-bottom: 15px;">
                        <div style="height: 100%;">
                            <img class="card-img-top img-fluid" src="{{event.cover.source}}" alt="">
                            <div class="card-block">
                                <h4 class="card-title">{{event.name}}</h4>
                                <p class="card-text"><b>Attending</b>&nbsp;<span class="badge badge-info">{{event.attending_count}}</span>
                                <b>interested</b>&nbsp;<span class="badge badge-warning">{{event.interested_count}}</span></p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><b>Place</b>&nbsp;{{event.place.name}}</li>                  
                                <li class="list-group-item"><p><b>Start</b>&nbsp;{{event.start_time | fix_date}}</p>
                                    <p><b>End</b>&nbsp; {{event.end_time | fix_date}}</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-center">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a type="button" href="/event/{{event.id}}/detail/" class="btn btn-secondary">view event</a>
                                        <a type="button" href="https://www.facebook.com/events/{{event.id}}" class="btn btn-secondary">View on facebook</a>
                                    </div>
                                </li>                  
                            </ul>
                        </div>
                        </div>
                    </div>
                  {% endif %}
                {% endfor %}
            </div>

            
        </div>
    </div>

    
    


</div>

{% endblock %}