{% extends 'base.html' %}
{% load static %}
{% load features %}
{% block title %} - Live Music{% endblock%}
{% block content %}

<br />

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <div class="cover-photo" style="background: url(/static/assets/images/musician-2708190_1920.jpg) center center; background-size: cover;">
                <div class="cover-text" align="left">
                    <h1>Live Music</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container hidden-sm-down">
    <div class="row">
      <div class="col-12" id="weekend-events-heading">
            <div class="card">
                <div class="card-block">
                    <h3 class="display-4" style="margin-left: 25px;">Events This Weekend</h3>
                </div>
            </div>
      </div>
    </div>
</div>
<div class="col-12 heading hidden-md-up" id="weekend-heading">
    <h4 class="hidden-md-up text-center">Events This Weekend</h4>            
</div>
<br />
<div class="container">
        <div class="row loading">
            <div class="col-12" align="center">
                <br />
                <div class="loader-items"></div> 
            </div>
        </div>
        <div class="grid">
            {% for event in events|sort_pop %}
            {% if event.start_time|trim_time == weekend_start or event.start_time|trim_time == mid_weekend or event.start_time|trim_time == weekend_stop %}
    
            <div class="grid-item">
              <div class="card hide" style="height: auto;">
                  <div style="height: 100%;">
                      <img class="card-img-top img-fluid" src="{{event.cover.source}}" alt="">
                      <div class="card-block">
                        <h4 class="card-title">{{event.name}}</h4>
                        <p class="card-text"><b>Attending</b>&nbsp;<span class="badge badge-info">{{event.attending_count}}</span>
                          <b>interested</b>&nbsp;<span class="badge badge-warning">{{event.interested_count}}</span></p>
                      </div>
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item"><h4>{{event.start_time | get_weekday}}</h4></li>
                          {% if event.place.name|length < 100 %}
                          <li class="list-group-item"><b>Place</b>&nbsp;{{event.place.name}}</li>
                          {% endif %}
                          <li class="list-group-item"><p><b>Start</b>&nbsp;{{event.start_time | fix_date}}</p>
                            <p><b>End</b>&nbsp; {{event.end_time | fix_date}}</p>
                          </li>
                          <li class="list-group-item d-flex justify-content-center">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a type="button" href="/event/{{event.id}}/detail/" class="btn btn-secondary">view event</a>
                                <a type="button" href="https://www.facebook.com/events/{{event.id}}" class="btn btn-secondary"><i style="color:#3b5998;" class="fa fa-facebook-official"></i></a>
                                {% if event.ticket_uri %}
                                <a type="button" target="_blank" href="{{event.ticket_uri}}" class="btn btn-secondary"><i class="fa fa-ticket"></i></a>
                                {% endif %}  
                            </div>
                          </li>
                      </ul>
                  </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <br />
</div>
<div class="container hidden-sm-down">
    <div class="row">
        <div class="col-12" id="upcoming-events-heading">
            <div class="card">
                <div class="card-block">
                    <h3 class="display-4" style="margin-left: 25px;">Upcoming Events</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 heading hidden-md-up" id="upcoming-heading">
    <h4 class="hidden-md-up text-center">Upcoming Events</h4>
</div>
<br />
<div class="container">
    <div class="row loading">
        <div class="col-12" align="center">
            <br />
            <div class="loader-items"></div> 
        </div>
    </div>
    <div class="grid">
      {% for event in events|sort_pop %}
        {% if event.start_time >= date and event.start_time|trim_time != weekend_start and event.start_time|trim_time != mid_weekend and event.start_time|trim_time != weekend_stop %}
        <div class="grid-item">
          <div class="card hide">
            <div style="height: 100%;">
                <img class="card-img-top img-fluid" src="{{event.cover.source}}" alt="">
                <div class="card-block">
                  <h4 class="card-title">{{event.name}}</h4>
                  <p class="card-text"><b>Attending</b>&nbsp;<span class="badge badge-info">{{event.attending_count}}</span>
                    <b>interested</b>&nbsp;<span class="badge badge-warning">{{event.interested_count}}</span></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h4>{{event.start_time | get_weekday}}</h4></li>                        
                    {% if event.place.name|length < 100 %}
                    <li class="list-group-item"><b>Place</b>&nbsp;{{event.place.name}}</li>
                    {% endif %}
                    <li class="list-group-item"><p><b>Start</b>&nbsp;{{event.start_time | fix_date}}</p>
                      <p><b>End</b>&nbsp; {{event.end_time | fix_date}}</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-center">
                      <div class="btn-group" role="group" aria-label="Basic example">
                          <a type="button" href="/event/{{event.id}}/detail/" class="btn btn-secondary">view event</a>
                          <a type="button" href="https://www.facebook.com/events/{{event.id}}" class="btn btn-secondary"><i style="color:#3b5998;" class="fa fa-facebook-official"></i></a>
                          {% if event.ticket_uri %}
                          <a type="button" target="_blank" href="{{event.ticket_uri}}" class="btn btn-secondary"><i class="fa fa-ticket"></i></a>
                          {% endif %}
                      </div>
                    </li>
                </ul>
            </div>
            </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>  

<a href="#top-page" class="btn-top-hide" id="myBtn"><span class="material-icons" style="color: #ffffff;">arrow_upward</span></a>
<div class="hidden-sm-down events-tag events-tag-closed" id="weekend-events-tag"><h5>Weekend Events</h5></div>
<div class="hidden-sm-down events-tag events-tag-closed" id="upcoming-events-tag"><h5>Upcoming Events</h5></div>

{% endblock %}

{% block scripts %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "Rock Worthy",
            "description": "Current Live Music events around Gauteng region.",
            "url": "https://www.rockworthy.co.za/live-music/"
        }
    </script>
    <script src="{% static 'vendor/bower_components/waypoints/lib/jquery.waypoints.min.js' %}"></script>   
    <script src="{% static 'vendor/bower_components/waypoints/lib/shortcuts/sticky.min.js' %}"></script>           
    <script src="{% static 'vendor/bower_components/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>        
    <script src="{% static 'vendor/bower_components/masonry/dist/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/custom.js' %}"></script>      
{% endblock %}